/********
 * FONT *
 ********/

/* outfit-100 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 100;
  src: url('fonts/outfit-v11-latin-100.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* outfit-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 200;
  src: url('fonts/outfit-v11-latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* outfit-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/outfit-v11-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* outfit-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/outfit-v11-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* outfit-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/outfit-v11-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* outfit-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/outfit-v11-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* outfit-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/outfit-v11-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* outfit-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 800;
  src: url('fonts/outfit-v11-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* outfit-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 900;
  src: url('fonts/outfit-v11-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* material-symbols-rounded-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Material Symbols Rounded';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/material-symbols-rounded-v230-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* color definitions */

:root {
  /* tokens */

  /* same as below, always change both */
  --color-token-accent-dark: #18197c;
  --color-token-accent: #2b7fc2;
  --color-token-accent-alternate: #f09500;
  --color-token-background: #ffffff;
  --color-token-background-accent: #edf4fa;
  --color-token-background-accent-light: #c9deef;

  --color-bg-site: var(--color-token-background);
  --color-fg-site: var(--color-token-accent-dark);
  --color-fg-site-hover: var(--color-token-accent-alternate);
  --color-bg-card: var(--color-token-background-accent);
  --color-fg-card: var(--color-token-accent-dark);
  --color-fg-card-hover: var(--color-token-accent-alternate);
  --color-bg-title: var(--color-token-accent);
  --color-fg-title: var(--color-token-background);
  --color-bg-sectionheader: var(--color-token-background-accent);
  --color-fg-sectionheader: var(--color-token-accent-dark);
  --color-bg-nav: var(--color-token-background-accent-light);
  --color-fg-nav: var(--color-token-accent-dark);
  --color-fg-nav-hover: var(--color-token-accent-alternate);
  --color-bg-btn: var(--color-token-accent-dark);
  --color-fg-btn: var(--color-token-background);
  --color-bg-btn-hover: var(--color-token-accent-alternate);
  --color-fg-btn-hover: var(--color-token-background);
  --color-bg-btn-inv: var(--color-token-accent-alternate);
  --color-fg-btn-inv: var(--color-token-background);
  --color-bg-btn-inv-hover: var(--color-token-accent-dark);
  --color-fg-btn-inv-hover: var(--color-token-background);
  --color-bg-footer: var(--color-token-accent);
  --color-fg-footer: var(--color-token-background);
  --color-fg-footer-hover: var(--color-token-accent-alternate);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* same as below, always change both */
    --color-token-accent-dark: #d6d7f6;
    --color-token-accent: #2b7fc2;
    --color-token-accent-alternate: #f09500;
    --color-token-background: #1c1d23;
    --color-token-background-accent: #434a56;
    --color-token-background-accent-light: #343942;
  }
}

:root.force-light-color-scheme {
  /* same as above, always change both */
  --color-token-accent-dark: #18197c;
  --color-token-accent: #2b7fc2;
  --color-token-accent-alternate: #f09500;
  --color-token-background: #ffffff;
  --color-token-background-accent: #edf4fa;
  --color-token-background-accent-light: #c9deef;
}

:root.force-dark-color-scheme {
  /* same as above, always change both */
  --color-token-accent-dark: #d6d7f6;
  --color-token-accent: #2b7fc2;
  --color-token-accent-alternate: #f09500;
  --color-token-background: #1c1d23;
  --color-token-background-accent: #434a56;
  --color-token-background-accent-light: #343942;
}

/********************
 * NON-LAYOUT STUFF *
 ********************/

body {
  font-family: Outfit, sans-serif;
  background-color: var(--color-bg-site);
}

header h1 {
  background-color: var(--color-bg-title);
  color: var(--color-fg-title);
}

header button.cycle-colors-button {
  font-family: 'Material Symbols Rounded';
  background-color: var(--color-bg-btn-inv);
  color: var(--color-fg-btn-inv);
  border: none;
  cursor: pointer;
}

header button.cycle-colors-button:hover,
header button.cycle-colors-button:active,
header button.cycle-colors-button:focus {
  background-color: var(--color-bg-btn-inv-hover);
  color: var(--color-fg-btn-inv-hover);
}

header a.lang-button {
  background-color: var(--color-bg-btn-inv);
  color: var(--color-fg-btn-inv);
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}

header a.lang-button:hover,
header a.lang-button:active,
header a.lang-button:focus {
  background-color: var(--color-bg-btn-inv-hover);
  color: var(--color-fg-btn-inv-hover);
}


.faq-list section {
  background-color: var(--color-bg-card);
  color: var(--color-fg-card);
}

.faq-list section ul {
  list-style: none;
}

.faq-list section ul li a {
  background-color: var(--color-bg-btn);
  color: var(--color-fg-btn);
}

.faq-list section ul li a:hover,
.faq-list section ul li a:active,
.faq-list section ul li a:focus {
  background-color: var(--color-bg-btn-hover);
  color: var(--color-fg-btn-hover);
}

.faq .intro {
  color: var(--color-fg-site);
}

.faq .intro a:hover,
.faq .intro a:active,
.faq .intro a:focus {
  color: var(--color-fg-site-hover);
}

.faq .intro a {
  color: var(--color-fg-site);
}

.faq article {
  background-color: var(--color-bg-card);
  color: var(--color-fg-card);
}

.faq article a {
  color: var(--color-fg-card);
}

.faq article a:hover,
.faq article a:active,
.faq article a:focus {
  color: var(--color-fg-card-hover);
}

.faq article h2 a,
.faq article h3 a,
.faq article h4 a {
  color: var(--color-fg-card);
  text-decoration: none;
}

.faq article h2 a:hover,
.faq article h3 a:hover,
.faq article h4 a:hover,
.faq article h2 a:active,
.faq article h3 a:active,
.faq article h4 a:active,
.faq article h2 a:focus,
.faq article h3 a:focus,
.faq article h4 a:focus {
  color: var(--color-fg-card);
}


.faq article h2 a:hover::before,
.faq article h3 a:hover::before,
.faq article h4 a:hover::before,
.faq article h2 a:active::before,
.faq article h3 a:active::before,
.faq article h4 a:active::before,
.faq article h2 a:focus::before,
.faq article h3 a:focus::before,
.faq article h4 a:focus::before {
  color: var(--color-fg-card-hover);
  text-decoration: underline;
}

.faq > h2 {
  background-color: var(--color-bg-sectionheader);
  color: var(--color-fg-sectionheader);
}

.faq > h3 {
  color: var(--color-fg-site);
}

.nav-button {
  background-color: var(--color-bg-nav);
  color: var(--color-fg-nav);
  border: none;
  cursor: pointer;
  font-family: 'Material Symbols Rounded';
}

nav {
  background-color: var(--color-bg-nav);
  color: var(--color-fg-nav);
  font-weight: 600;
}

nav a {
  color: var(--color-fg-nav);
  font-weight: 400;
  text-decoration: none;
}

nav a:hover,
nav a:active,
nav a:focus {
  color: var(--color-fg-nav-hover);
}

footer {
  background-color: var(--color-bg-footer);
  color: var(--color-fg-footer);
}

footer a {
  color: var(--color-fg-footer);
}

footer a:hover,
footer a:active,
footer a:focus {
  color: var(--color-fg-footer-hover);
}

/******************
 * DESKTOP LAYOUT *
 ******************/

@media (min-width: 1200px) {
  body {
    margin: 0;
    display: grid;
    grid-template-columns: 400px 1fr;
  }

  header {
    grid-column-start: 1;
    grid-column-end: -1;
  }

  header a.logo-link {
    display: block;
    margin: 15px auto;
    width: min-content;
  }

  header a.logo-link img {
    height: 100px;
  }

  header button.cycle-colors-button {
    display: block;
    width: 48px;
    height: 48px;
    line-height: 48px;
    border-radius: 24px;
    font-size: 24px;
    position: absolute;
    top: 41px;
    right: 104px; /* 15 + 48 + 41 */
    padding: 0;
  }

  header a.lang-button {
    display: block;
    width: 48px;
    height: 48px;
    line-height: 48px;
    border-radius: 24px;
    position: absolute;
    top: 41px;
    right: 41px;
    font-size: 18px;
  }

  header h1 {
    font-size: 52px;
    font-weight: 700;
    text-align: center;
    height: 280px;
    line-height: 280px;
    margin: 0;
  }

  .faq-list {
    display: flex;
    flex-direction: row;
    gap: 90px;
    padding: 90px;
    grid-column-start: 1;
    grid-column-end: -1;
  }

  .faq-list section {
    flex-grow: 1;
    padding: 60px;
  }

  .faq-list section h2 {
    font-size: 42px;
    font-weight: 700;
    margin-top: 0;
  }

  .faq-list section ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .faq-list section ul li a {
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    display: block;
    padding: 11px 28px;
    margin-right: 20px;
    width: fit-content;
  }

  .faq .intro {
    max-width: 800px;
    font-size: 16px;
    font-weight: 300;
    margin: 90px auto;
  }

  .faq article {
    box-sizing: border-box;
    position: relative;
    padding: 60px;
    margin: 90px auto;
    max-width: 800px;
    font-size: 16px;
  }

  .faq article a.lang-button {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 18px;
    font-weight: 300;
  }

  .faq article > h2,
  .faq article > h3,
  .faq article > h4 {
    font-size: 28px;
    font-weight: 700;
    margin-top: 0;
    overflow-wrap: break-word;
    position: relative;
  }

  .faq article > h2 a:hover::before,
  .faq article > h3 a:hover::before,
  .faq article > h4 a:hover::before {
    position: absolute;
    left: -1ch;
    content: '#';
  }

  .faq article .answer h3,
  .faq article .answer h4,
  .faq article .answer h5 {
    font-weight: 700;
    font-size: 18px;
    margin: 16px 0;
    margin-top: 24px;
  }

  .faq article :last-child {
    margin-bottom: 0;
  }

  .faq > h2 {
    padding: 90px 180px;
    font-size: 42px;
    margin: 90px none;
  }

  .faq > h3 {
    font-size: 28px;
    max-width: 800px;
    margin: 90px auto;
  }

  .nav-button {
    display: none;
  }

  nav {
    position: sticky;
    top: 0;
    box-sizing: border-box;
    height: 100vh;
    height: 100lvh;
    overflow-y: scroll;
    padding: 16px;
  }

  nav ul {
    list-style: none;
    padding-left: 16px;
  }

  nav > ul {
    overflow-x: hidden;
    margin: 0;
    padding-left: 0;
  }

  nav ul li {
    margin-top: 8px;
  }

  nav > ul > li:first-child {
    margin-top: 0;
  }

  footer {
    grid-column-start: 2;
    grid-column-end: -1;
    padding: 30px;
  }
}

/*****************
 * MOBILE LAYOUT *
 *****************/

@media (max-width: 1199px) {
  body {
    margin: 0;
  }

  header a.logo-link {
    margin: 10px auto;
    display: block;
    width: min-content;
  }

  header a.logo-link img {
    height: 60px;
  }

  header button.cycle-colors-button {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 24px;
    font-size: 20px;
    position: absolute;
    top: 25px;
    right: 65px; /* 10 + 30 + 25 */
    padding: 0;
  }

  header a.lang-button {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 24px;
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 12px;
  }

  header h1 {
    font-size: 34px;
    padding: 30px 15px;
    margin: 0;
    text-align: center;
  }

  .faq-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
  }

  .faq-list section {
    padding: 30px;
  }

  .faq-list section h2 {
    margin-top: 0;
    font-size: 28px;
  }

  .faq-list section ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .faq-list section ul li a {
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    display: block;
    padding: 11px 28px;
    margin-right: 20px;
    text-align: center;
  }

  .faq .intro {
    padding: 0 16px;
    margin: 16px 0;
    font-size: 16px;
    font-weight: 300;
  }

  .faq article {
    margin: 16px;
    padding: 30px;
    position: relative;
    font-size: 16px;
  }

  .faq article a.lang-button {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 18px;
    font-weight: 300;
  }

  .faq article > h2,
  .faq article > h3,
  .faq article > h4 {
    font-size: 24px;
    font-weight: 700;
    margin-top: 0;
    overflow-wrap: break-word;
    position: relative;
  }


  .faq article > h2 a:hover::before,
  .faq article > h3 a:hover::before,
  .faq article > h4 a:hover::before {
    position: absolute;
    left: -1ch;
    content: '#';
  }

  .faq article .answer h3,
  .faq article .answer h4,
  .faq article .answer h5 {
    font-weight: 700;
    font-size: 18px;
    margin: 16px 0;
    margin-top: 24px;
  }

  .faq article :last-child {
    margin-bottom: 0;
  }

  .faq > h2 {
    padding: 30px 16px;
    font-size: 24px;
    margin: 16px 0;
  }

  .faq > h3 {
    padding: 0 16px;
    font-size: 24px;
    margin: 16px 0;
  }

  .nav-button {
    display: block;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    width: 48px;
    height: 48px;
    line-height: 48px;
    font-size: 32px;
    text-align: center;
    border: none;
    border-radius: 0 0 16px 0;
    overflow: hidden;
    padding: 0;
  }

  nav {
    position:fixed;
    top: 0;
    left: 0;
    z-index: 10;
    overflow: hidden;
  }

  nav:not(.scripted) {
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    border-radius: 0 0 16px 0;
    padding-top: 48px;
  }

  nav:not(.scripted)::before {
    content: "menu";
    font-family: 'Material Symbols Rounded';
    position: fixed;
    top: 0;
    left: 0;
    line-height: 48px;
    width: 48px;
    text-align: center;
    font-size: 32px;
  }

  nav.scripted {
    width: 0px;
    height: 0px;
    transition: width 0.2s;
  }

  nav.scripted.shown-at-least-once {
    height: 100vh;
    padding: 52px 0px;
  }

  nav:not(.scripted):hover::before,
  nav:not(.scripted):focus-within::before {
    display: none;
  }

  nav:not(.scripted):hover,
  nav:not(.scripted):focus-within,
  nav.scripted.shown {
    display: block;
    width: 80vw;
    height: 100vh;
    padding: 16px 0px;
    padding-top: 52px;
    border-radius: 0;
    overflow-y: scroll;
    box-sizing: border-box;
  }

  nav.scripted.shown {
    width: 100vw;
  }

  nav ul {
    list-style: none;
    padding-left: 16px;
    box-sizing: border-box;
  }

  nav > ul {
    padding: 0px 16px;
    width: 80vw;
    margin: 0;
  }

  nav ul li {
    margin-top: 8px;
  }

  nav > ul > li:first-child {
    margin-top: 0;
  }

  footer {
    padding: 30px;
  }
}
