<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf8" />
    <title>$faq.en.title$</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../style.css" />
    <link rel="icon" href="../../favicon.ico" sizes="32x32">
    <link rel="icon" href="../../icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="../../apple-touch-icon.png">
  </head>
  <body vocab="http://schema.org/">
    <header>
      <a href="$faq.logo.href$" class="logo-link"><img src="../../$faq.logo.src$"></a>
      $if(faq.de)$
        <a href="../de/" class="lang-button">de</a>
      $endif$
      <h1>$faq.en.title$</h1>
    </header>
    <nav>
      <ul>
        $for(faq.questions)$
          $if(faq.questions.en)$
            <li><a href="#$faq.questions.en.id$">$faq.questions.en.q$</a></li>
          $endif$
        $endfor$
        $for(faq.sections)$
          $if(faq.sections.en)$
            <li>
                $faq.sections.en.title$
                <ul>
                  $for(faq.sections.questions)$
                    $if(faq.sections.questions.en)$
                      <li><a href="#$faq.sections.questions.en.id$">$faq.sections.questions.en.q$</a></li>
                    $endif$
                  $endfor$
                  $for(faq.sections.subsections)$
                    $if(faq.sections.subsections.en)$
                      <li>
                          $faq.sections.subsections.en.title$
                          <ul>
                            $for(faq.sections.subsections.questions)$
                              $if(faq.sections.subsections.questions.en)$
                                <li><a href="#$faq.sections.subsections.questions.en.id$">$faq.sections.subsections.questions.en.q$</a></li>
                              $endif$
                            $endfor$
                          </ul>
                      </li>
                    $endif$
                  $endfor$
                </ul>
            </li>
          $endif$
        $endfor$
      </ul>
    </nav>
    <main class="faq" typeof="FAQPage">
      <div class="intro">
        $faq.en.intro$
      </div>
      $for(faq.questions)$
        $if(faq.questions.en)$
          <article id="$faq.questions.en.id$" property="mainEntity" typeof="Question" resource="#$faq.questions.en.id$">
            $if(faq.questions.de)$
              <a class="lang-button" href="../de/#$faq.questions.de.id$">de</a>
            $endif$
            <h2 property="name" content="$faq.questions.en.q$"><a href="#$faq.questions.en.id$">$faq.questions.en.q$</a></h2>
            <div property="acceptedAnswer" typeof="Answer">
              <div property="text">
                $faq.questions.en.a$
              </div>
            </div>
          </article>
        $endif$
      $endfor$
      $for(faq.sections)$
        $if(faq.sections.en)$
          <h2>$faq.sections.en.title$</h2>
          $for(faq.sections.questions)$
            $if(faq.sections.questions.en)$
              <article id="$faq.sections.questions.en.id$" property="mainEntity" typeof="Question" resource="#$faq.sections.questions.en.id$">
                $if(faq.sections.questions.de)$
                  <a class="lang-button" href="../de/#$faq.sections.questions.de.id$">de</a>
                $endif$
                <h3 property="name" content="$faq.sections.questions.en.q$"><a href="#$faq.questions.sections.en.id$">$faq.sections.questions.en.q$</a></h3>
                <div property="acceptedAnswer" typeof="Answer">
                  <div property="text">
                    $faq.sections.questions.en.a$
                  </div>
                </div>
              </article>
            $endif$
          $endfor$
          $for(faq.sections.subsections)$
            $if(faq.sections.subsections.en)$
              <h3>$faq.sections.subsections.en.title$</h3>
              $for(faq.sections.subsections.questions)$
                $if(faq.sections.subsections.questions.en)$
                  <article id="$faq.sections.subsections.questions.en.id$" property="mainEntity" typeof="Question" resource="#$faq.sections.subsections.questions.en.id$">
                    $if(faq.sections.subsections.questions.de)$
                      <a class="lang-button" href="../de/#$faq.sections.subsections.questions.de.id$">de</a>
                    $endif$
                    <h4 property="name" content="$faq.sections.subsections.questions.en.q$"><a href="#$faq.sections.subsections.questions.en.id$">$faq.sections.subsections.questions.en.q$</a></h4>
                    <div property="acceptedAnswer" typeof="Answer">
                      <div property="text">
                        $faq.sections.subsections.questions.en.a$
                      </div>
                    </div>
                  </article>
                $endif$
              $endfor$
            $endif$
          $endfor$
        $endif$
      $endfor$
    </main>
    <footer>
      <a href="https://oeh.jku.at/en/imprint">Imprint</a>
    </footer>
  </body>
</html>
