<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <title>$faq.de.title$</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script>
      const initialColorTheme = localStorage.getItem("prefers-color-scheme");
      if (initialColorTheme === "light") {
          document.documentElement.classList.add("force-light-color-scheme")
      } else if (initialColorTheme === "dark") {
          document.documentElement.classList.add("force-dark-color-scheme")
      }
    </script>
    <link rel="stylesheet" href="../../style.css" />
    <link rel="icon" href="../../favicon.ico" sizes="32x32" />
    <link rel="icon" href="../../icon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="../../apple-touch-icon.png" />
    <script src="../../script.js" defer=""></script>
    
    <!-- Meta Information -->
    <meta property="og:title" content="ÖH JKU – FAQ: Informatik & AI">
    <meta name="twitter:title" content="ÖH JKU – FAQ: Informatik & AI">
    
      
    <meta name="description" content="Als Studienvertretungen für Informatik und AI erhalten wir oft Fragen zu unseren Studien. Dieses FAQ soll dabei helfen, die meisten davon zu beantworten.">
    <meta property="og:description" content="Als Studienvertretungen für Informatik und AI erhalten wir oft Fragen zu unseren Studien. Dieses FAQ soll dabei helfen, die meisten davon zu beantworten.">
    <meta name="twitter:description" content="Als Studienvertretungen für Informatik und AI erhalten wir oft Fragen zu unseren Studien. Dieses FAQ soll dabei helfen, die meisten davon zu beantworten.">
    
    <meta property="og:image" content="/images/faqs_en.webp">
    <meta property="og:image:url" content="/images/faqs_eb.webp">
    <meta name="twitter:image" content="/images/faqs_en.webp">
    
    <meta property="og:image:alt" content="Weißer Text auf blauem Hintergrund: FAQ: Informatik & AI">
    <meta name="twitter:image:alt" content="Weißer Text auf blauem Hintergrund: FAQ: Informatik & AI">
    
    <meta property="og:image:width" content="1771">
    <meta property="og:image:height" content="925">
    
    <meta name="twitter:card" content="summary_large_image">
  </head>
  <body vocab="http://schema.org/" typeof="FAQPage">
    <header>
      <a href="$faq.logo.href$" class="logo-link"><img src="../../$faq.logo.src$" /></a>
      $if(faq.en)$
        <a href="../en/" class="lang-button">en</a>
      $endif$
      <h1>$faq.de.title$</h1>
    </header>
    <nav>
      <ul>
        $for(faq.questions)$
          $if(faq.questions.de)$
            <li><a href="#$faq.questions.de.id$">$faq.questions.de.q$</a></li>
          $endif$
        $endfor$
        $for(faq.sections)$
          $if(faq.sections.de)$
            <li>
                $faq.sections.de.title$
                <ul>
                  $for(faq.sections.questions)$
                    $if(faq.sections.questions.de)$
                      <li><a href="#$faq.sections.questions.de.id$">$faq.sections.questions.de.q$</a></li>
                    $endif$
                  $endfor$
                  $for(faq.sections.subsections)$
                    $if(faq.sections.subsections.de)$
                      <li>
                          $faq.sections.subsections.de.title$
                          <ul>
                            $for(faq.sections.subsections.questions)$
                              $if(faq.sections.subsections.questions.de)$
                                <li><a href="#$faq.sections.subsections.questions.de.id$">$faq.sections.subsections.questions.de.q$</a></li>
                              $endif$
                            $endfor$
                          </ul>
                      </li>
                    $endif$
                  $endfor$
                </ul>
            </li>
          $endif$
        $endfor$
      </ul>
    </nav>
    <main class="faq">
      <div class="intro">
        $faq.de.intro$
      </div>
      $for(faq.questions)$
        $if(faq.questions.de)$
          <article id="$faq.questions.de.id$" property="mainEntity" typeof="Question" resource="#$faq.questions.de.id$">
            $if(faq.questions.en)$
              <a class="lang-button" href="../en/#$faq.questions.en.id$">en</a>
            $endif$
            <h2 property="name"><a href="#$faq.questions.de.id$">$faq.questions.de.q$</a></h2>
            <div property="acceptedAnswer" typeof="Answer" class="answer">
              <div property="text">
                $faq.questions.de.a$
              </div>
            </div>
          </article>
        $endif$
      $endfor$
      $for(faq.sections)$
        $if(faq.sections.de)$
          <h2>$faq.sections.de.title$</h2>
          $for(faq.sections.questions)$
            $if(faq.sections.questions.de)$
              <article id="$faq.sections.questions.de.id$" property="mainEntity" typeof="Question" resource="#$faq.sections.questions.de.id$">
                $if(faq.sections.questions.en)$
                  <a class="lang-button" href="../en/#$faq.sections.questions.en.id$">en</a>
                $endif$
                <h3 property="name"><a href="#$faq.sections.questions.de.id$">$faq.sections.questions.de.q$</a></h3>
                <div property="acceptedAnswer" typeof="Answer" class="answer">
                  <div property="text">
                    $faq.sections.questions.de.a$
                  </div>
                </div>
              </article>
            $endif$
          $endfor$
          $for(faq.sections.subsections)$
            $if(faq.sections.subsections.de)$
              <h3>$faq.sections.subsections.de.title$</h3>
              $for(faq.sections.subsections.questions)$
                $if(faq.sections.subsections.questions.de)$
                  <article id="$faq.sections.subsections.questions.de.id$" property="mainEntity" typeof="Question" resource="#$faq.sections.subsections.questions.de.id$">
                    $if(faq.sections.subsections.questions.en)$
                      <a class="lang-button" href="../en/#$faq.sections.subsections.questions.en.id$">en</a>
                    $endif$
                    <h4 property="name"><a href="#$faq.sections.subsections.questions.de.id$">$faq.sections.subsections.questions.de.q$</a></h4>
                    <div property="acceptedAnswer" typeof="Answer" class="answer">
                      <div property="text">
                        $faq.sections.subsections.questions.de.a$
                      </div>
                    </div>
                  </article>
                $endif$
              $endfor$
            $endif$
          $endfor$
        $endif$
      $endfor$
    </main>
    <footer>
      <a href="https://oeh.jku.at/impressum">Impressum</a>
    </footer>
  </body>
</html>
