<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8" />
    <title>FAQs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script>
      const initialColorTheme = localStorage.getItem("prefers-color-scheme");
      if (initialColorTheme === "light") {
          document.documentElement.classList.add("force-light-color-scheme")
      } else if (initialColorTheme === "dark") {
          document.documentElement.classList.add("force-dark-color-scheme")
      }
    </script>
    <link rel="stylesheet" href="style.css" />
    <link rel="icon" href="favicon.ico" sizes="32x32">
    <link rel="icon" href="icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
  </head>
  <body>
    <header>
      <h1>FAQs</h1>
    </header>
    <main class="faq-list">
      <section lang="de">
        <h2>Deutsch</h2>
        <ul>
          $for(faqs)$
            $if(faqs.de)$
              <li><a href="$faqs.id$/de/">$faqs.de.title$</a></li>
            $endif$
          $endfor$
        </ul>
      </section>
      <section lang="en">
        <h2>English</h2>
        <ul>
          $for(faqs)$
            $if(faqs.en)$
              <li><a href="$faqs.id$/en/">$faqs.en.title$</a></li>
            $endif$
          $endfor$
        </ul>
      </section>
    </main>
  </body>
</html>
